@{
  ViewData["Title"] = "Contacts";
}

<main class="container py-5 px-2">

  <div class="d-none d-sm-block mb-5 w-100 border rounded-4 overflow-hidden">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.0627596225986!2d13.6790198683031!3d4.5827547852073645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1092986295e7cc3d%3A0x864aa33bbc405a17!2sEcole%20Maternelle%20de%20Mokolo%20I!5e0!3m2!1sfr!2scm!4v1729546650779!5m2!1sfr!2scm" width="100%" height="520" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
      

  <h2>@Localizer["heading"]</h2>

  <section class="row py-4">

    

    <form  id="contactForm" class="col-lg-7 row g-3 mb-3">

      <div class="col-12">
        <textarea class="form-control" placeholder="message..." id="message" rows="4"></textarea>
      </div>

      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Votre nom" aria-label="First name">
      </div>

      <div class="col-md-6">
        <input type="email" class="form-control" placeholder="Votre address email" aria-label="email" required>
      </div>

      <div class="col-12">
        <input type="text" class="form-control" id="subjet" placeholder="Sujet : Demande/requisition de ...">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-envelope-at"></i>
          @Localizer["send"]
        </button>
      </div>

    </form>

    <ul class="col-lg-5 pt-4">

      <li class="d-flex align-items-start gap-3 mb-3">
        <i class="bi bi-house-check text-body-secondary fs-2"></i>
        <p>
          <strong class="h5 text-success"> @Localizer["where"] </strong> <br/>
          @Localizer["where1"]
        </p>
      </li>

      <li class="d-flex align-items-start gap-3 mb-3">
        <i class="bi bi-telephone text-body-secondary fs-2"></i>
        <p>
          <strong class="h5 text-success">(+237) 222 241 835 / 653 663 807 / 695 665 858</strong> <br/>
          @Localizer["day1"] <br> @Localizer["day2"]
        </p>
      </li>

      <li class="d-flex align-items-start gap-3 mb-3">
        <i class="bi bi-envelope text-body-secondary fs-2"></i>
        <p>
          <strong class="h5 text-success">aafebeno@yahoo.com</strong> <br/>
          @Localizer["join"]
        </p>
      </li>

      <li class="d-flex align-items-start gap-3 mb-3">
        <i class="bi bi-globe2 text-body-secondary fs-2"></i>
        <p>
          <strong class="h5 text-success">
            @Localizer["also"]
          </strong> <br/>
          
          <a class="fs-5 me-1 text-body-secondary" title="linkedIn" target="_blank" href="https://www.linkedin.com/in/aafeben-aafeben-1150b8218/?originalSubdomain=cm">
            <i class="bi bi-linkedin"></i>
          </a>

          <a class="fs-5 me-1 text-body-secondary" title="facebook" target="_blank" href="https://web.facebook.com/people/Aafeben-Aafeben/pfbid0QUkXLjJq8VzqP8v86uVCsYxHBRRgUvUwNscduqVmcvQuBZTcQhDw4pRu3QuQY6Rdl/?fref=nf&locale=ms_MY">
            <i class="bi bi-facebook"></i>
          </a>

          <a class="fs-5 me-1 text-body-secondary" title="facebook" target="_blank" href="https://www.linkedin.com/in/aafeben-aafeben-1150b8218/?originalSubdomain=cm">
            <i class="bi bi-whatsapp"></i>
          </a>

        </p>
      </li>

    </ul>

  </section>

        
</main>